.content {
    max-width: 800px; margin: auto;
    display: none;
}

.title {
     font-size: 18px; font-weight: bold; text-align: center;
     border-bottom: 2px solid black;
}

.header {
    text-align: right;
}

.refresh {
    float: left;
}

.countries {
    text-align: right;
}

#graph {
    display: none;
    margin-top: 10px;
}

#chart_content {
    height: 500px;
}